@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Podcast";
  src: url("/font/Podcast/Podcast.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* .head{
  font-family: Podcast !important;
} */
